/* Generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, Arial;
}

body{
    background: url(../img/bg.jpg);
    background-size: cover;
}

a{
    color: #01b1ea;
    text-decoration: none;
}

a:visited{
    color: #01b1ea;
}

/* CONTAINER */
#container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px gray;
    background: white;
}

/* HEADER */
#header{
    height: 145px;
    margin: 0px auto;
    background: #F0F0F0;
}

#logo{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-left: 30px;
}

#logo img{
    height: 100px;
}

#logo a{
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0 2px 1px #222222, 0 0 4px #01b1ea;
}

/* MENU */
#menu{
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;
}

#menu ul{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#menu ul li{
    display: flex;
    height: 100%;
    font-family: Helvetica;
    list-style: none;
    text-transform: capitalize;
    font-size: 15px;
    padding-left: 15px;
}

#menu ul li a{
    align-self: center;
    color: white;
}

#menu ul li::after{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    height: 51px;
    margin-left: 15px;
}

#menu li:hover{
    background: #01b1ea;
    transition: all 200ms;
}
#menu a:hover{
    cursor: pointer;
}

/* CONTENT */
#content{
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
}

/* BARRA LATERAL */
#lateral{
    width: 22%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid #01b1ea;
}

#lateral ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

#lateral ul li{
    list-style: square;
    margin-left: 18px;
}


/* FORMULARIOS */
.form{
    display: flex;
    justify-content: center;
}

form{
    background-color: #c9c9c9;
    border: 1px solid black;
    padding: 15px;
}

.precio-contenedor{
    display: flex;
    align-items: center;
}

.precio{
    margin-right: 5px;
    font-size: 14px;
    color: #222;
}

.desc{
    margin-right: 5px;
    font-size: 13px;
    color: #555;
}

form .input-precio{
    width: 25% !important;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
select{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select{
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
.button,
button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white !important;
    background: dodgerblue;
    border: 1px solid #11608E;
    cursor: pointer;
}

.detalle-button{
    width: fit-content;
}

.button-small{
    width: 150px;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 7px;
    color: white !important;
}

.button-small:hover{
    background-color: seagreen;
}

#prod{
    width: 200px;
}
.mod-prod{
    display: flex;
}

.button-mod{
    flex-grow: 1;
    margin: 0;
}

.button-delete{
    flex-grow: 1;
    margin: 0;
}

.button-delete:hover{
    background-color: firebrick;
}

label,
input[type="button"],
input[type="submit"]{
    margin-top: 10px;
}

.logout{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: red;
}

/* CENTRAL */
#central{
    width: 75%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #DDD;
    padding: 20px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

/* PRODUCTOS */
.contenedor-producto{
    display: flex;
    flex-wrap: wrap;
}

.product{
    width: 30%;
    height: 230px;
    /* float: left; */
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.detalle-contenedor{
    width: 100%;
    display: flex;
}

/* imagen en el campo de la de la compra */
.detalle-img{
    flex-basis: 500px;
    flex-shrink: 0;
}

.detalle-p{
    margin-bottom: 5px;
}

.detalle-text{
    flex-basis: 400px;
    padding-left: 20px;
}

.detalle-img img{
    width: 100%;
}

.product a{
    color: #222;
    text-decoration: none;
}

.contenedor-img{
    width: 100%;
    height: 120px;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product .button{
    background: rgb(78, 232, 78);
    color: white;
}

.product img{
    width: 100px;
    margin-bottom: 10px;
}

.product p{
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

/* FOOTER */
#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 5px solid #01b1ea;
}

/* MENSAJES DE ALERTA */
.success{
    margin-bottom: 24px;
    padding: 5px;
    border-radius: 5px;
    color:rgb(78, 232, 78);
    display: block;
}

.fail{
    margin-bottom: 24px;
    padding: 5px;
    border-radius: 5px;
    color: red;
    display: block;
}

/* Tablas */

table{
    text-align: center;
    width: 100%;
    border: 1px solid #555;
}

td{
    vertical-align: bottom;/*Para dejar el texto abajo en la celda*/
    border-top: 1px solid black;
    background-color: #11608E;
    color: white;
    padding: 2px;
}

/* carrito */
.table-carrito{
    border: unset;
    margin-top: 40px;
}

.table-carrito th{
    border-bottom: 1px solid black;
}

.table-carrito td{
    border-top: unset;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 2px;
}

/* gestion de los productos */
.img-gestion{
    width: 150px;
}

/* Imagen en el campo de edicion */
.img-edit{
    width: 100px;
}

/* Completar compra */
.completar-compra{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.completar-compra a{
    margin: 0 15px 0 15px;
}